$bg-color: #17172b;
$ft-color: rgb(255, 103, 0);
$ft-color-op-8: rgb(255 103 0 / 80%);
$ft-color-op-7: rgb(255 103 0 / 70%);
$ft-color-op-6: rgb(255 103 0/ 60%);

$ft-color-tips: rgb(210, 210, 210);

$px-1: 0.0625rem;
$px-2: 0.125rem;
$px-3: 0.1875rem;
$px-4: 0.25rem;
$px-5: 0.3125rem;
$px-6: 0.375rem;
$px-7: 0.4375rem;
$px-8: 0.5rem;
