body {
  padding: 0;
  margin: 0;
}

.home-bg-color {
  background-color: $bg-color;
}
.home-ft-color {
  color: $ft-color;
}
.ft-color-white {
  color: white;
}

.ft-color-tips {
  color: $ft-color-tips;
}

.hover-btn {
  box-sizing: border-box;
  border-style: solid;
  border-width: $px-2;

  border-color: #ffffff00;
}

.hover-btn:hover {
  background-color: $ft-color-op-7;
  cursor: pointer;
  border-radius: $px-6;
  border-color: $ft-color-tips;
}

.hover-ft:hover {
  color: $ft-color;
  cursor: pointer;
}
