body {
  padding: 0;
  margin: 0;
}

.home-bg-color {
  background-color: #17172b;
}
.home-ft-color {
  color: #ff6700;
}
.ft-color-white {
  color: white;
}

.ft-color-tips-1 {
  color: rgb(240, 240, 240);
}

.ft-color-tips-2 {
  color: rgb(230, 230, 230);
}
